<h3>Posts</h3>

<!--<div class="post-item" *ngFor="let post of posts | async">
  <span>{{ post.userId }}</span>
  <span>{{ post.id}}</span>
  <span>{{ post.title}}</span>
  <span>{{ post.body}}</span>
</div>-->

<mat-nav-list>
  <a class="post-item" *ngFor="let post of posts | async">
      <span>{{ post.title}}</span>
      <button mat-icon-button >
          <mat-icon>add</mat-icon>
      </button>
      <button mat-icon-button >
          <mat-icon>delete</mat-icon>
      </button>
      <span>{{ post.body }}</span>
  </a>
</mat-nav-list>