<mat-accordion
[displayMode]="flat"
[multi]="false"
#accordion="matAccordion">
  <mat-expansion-panel
  (opened)="panelOpenState = true"
  (closed)="panelOpenState = false" 
  *ngFor="let post of posts"
  #mapanel="matExpansionPanel"
  [class.selected]="post === selectedPost" 
  (click)="onSelect(post)"
  >
    <mat-expansion-panel-header>
    <mat-nav-list>
      <mat-list-item class="post-item">
        
            <span matLine>{{ post.title}}</span>
            <!--<span>{{ post.body }}</span>-->
            
        
      </mat-list-item>
    </mat-nav-list>
    </mat-expansion-panel-header>

    <app-post-details [post]="selectedPost"></app-post-details>
    <button mat-icon-button >
        <mat-icon>add</mat-icon>
      </button>
      <button mat-icon-button >
        <mat-icon>delete</mat-icon>
      </button>
  </mat-expansion-panel>
  
</mat-accordion>